@import "https://fonts.googleapis.com/css?family=Montserrat";
@import 'https://cdn.rawgit.com/h-ibaldo/Raleway_Fixed_Numerals/master/css/rawline.css';
@font-face {
  font-family: Narziss;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
@font-face {
  font-family: Narziss-medium;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42764/Narziss_Bold_Drops.woff2);
}
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?kvnegk');
  src:  url('../fonts/icomoon.eot?kvnegk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?kvnegk') format('truetype'),
    url('../fonts/icomoon.woff?kvnegk') format('woff'),
    url('../fonts/icomoon.svg?kvnegk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  font-size: 30px;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-M:before {
  content: "\e956";
  margin-left: -3px;
  font-size: 50px;
  background: #960200;
  border-radius: 50%;
  border: 3px solid #960200;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-P:before {
  content: "\e957";
  margin-left: -3px;
  font-size: 50px;
  background: #6989E0;
  border-radius: 50%;
  border: 3px solid #6989E0;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-DI:before {
  content: "\e958";
  margin-left: -3px;
  font-size: 50px;
  background: #6cd779;
  border-radius: 50%;
  border: 3px solid #6cd779;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-IG:before {
  content: "\e959";
  margin-left: -3px;
  font-size: 50px;
  background: #d19c1d;
  border-radius: 50%;
  border: 3px solid #d19c1d;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-PC:before {
  content: "\e95a";
  margin-left: -3px;
  font-size: 50px;
  background: #e87461;
  border-radius: 50%;
  border: 3px solid #e87461;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-TCI:before {
  content: "\e95b";
  margin-left: -3px;
  font-size: 50px;
  background: #714955;
  border-radius: 50%;
  border: 3px solid #714955;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-CTF:before {
  content: "\e95c";
  margin-left: -3px;
  font-size: 50px;
  background: #bcbcbc;
  border-radius: 50%;
  border: 3px solid #bcbcbc;
  speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.icon-livro:before {
  content: "\e900";
}
.icon-escudo:before {
  content: "\e901";
}
.icon-medalha:before {
  content: "\e902";
}
.icon-chat .path1:before {
  content: "\e903";
  color: rgb(0, 0, 0);
}
.icon-chat .path2:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-user .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-user .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-compass .path1:before {
  content: "\e909";
  color: rgb(0, 0, 0);
}
.icon-compass .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-compass .path3:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-padlock .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-padlock .path2:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-do-utilizador2 .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.icon-do-utilizador2 .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-do-utilizador2 .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path1:before {
  content: "\e911";
  color: rgb(0, 0, 0);
}
.icon-construcao .path2:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path3:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path4:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path5:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path6:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path7:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path8:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path9:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path10:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path11:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path12:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path13:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path14:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path15:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path16:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path17:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path18:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path19:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path20:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path21:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path22:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path23:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path24:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path25:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path26:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path27:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path28:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path29:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path30:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-construcao .path31:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-bate-papo .path1:before {
  content: "\e930";
  color: rgb(0, 0, 0);
}
.icon-bate-papo .path2:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-do-utilizador1 .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.icon-do-utilizador1 .path2:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-do-utilizador .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
}
.icon-do-utilizador .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem1 .path1:before {
  content: "\e936";
  color: rgb(0, 0, 0);
}
.icon-engrenagem1 .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem1 .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem1 .path4:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem .path1:before {
  content: "\e93a";
  color: rgb(0, 0, 0);
}
.icon-engrenagem .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem .path4:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-engrenagem .path5:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path1:before {
  content: "\e93f";
  color: rgb(0, 0, 0);
}
.icon-equipe .path2:before {
  content: "\e940";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path3:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path4:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path5:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path6:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path7:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-equipe .path8:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-networking .path1:before {
  content: "\e947";
  color: rgb(0, 0, 0);
}
.icon-networking .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-networking .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-networking .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-foguete-acertando-o-alvo:before {
  content: "\e94b";
}
.icon-tarefa-completa:before {
  content: "\e94c";
}
.icon-assinando-o-contrato:before {
  content: "\e94d";
}
.icon-lupa-com-dois-sentidos-setas:before {
  content: "\e94e";
}
.icon-plano-de-negocios:before {
  content: "\e94f";
}
.icon-bloco-de-escritorios:before {
  content: "\e950";
}
.icon-cartao-de-identidade:before {
  content: "\e951";
}
.icon-questao:before {
  content: "\e952";
}
.icon-em-formacao:before {
  content: "\e953";
}
.icon-aperto-de-mao:before {
  content: "\e954";
}
.icon-caixa-aberta:before {
  content: "\e955";
}
.icon-office:before {
  content: "\e95d";
}
.icon-bullhorn:before {
  content: "\e95e";
}
.icon-profile:before {
  content: "\e95f";
}
.icon-files-empty:before {
  content: "\e960";
}
.icon-file-zip:before {
  content: "\e961";
}
.icon-coin-dollar:before {
  content: "\e962";
}
.icon-compass2:before {
  content: "\e963";
}
.icon-database:before {
  content: "\e964";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-shrink:before {
  content: "\e98a";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-rocket:before {
  content: "\e9a5";
}
.icon-hammer2:before {
  content: "\e9a8";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-road:before {
  content: "\e9b1";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-tree:before {
  content: "\e9bc";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-loop:before {
  content: "\ea2d";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-share2:before {
  content: "\ea82";
}

d {
  position: relative;
  top: 25px;
  left: 10px;
  font-size: 14px;
}

f {
    position: relative;
    top: 10px;
    font-size: 14px;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}
body, html {
  background: transparent;
  font-size: 8px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: visible;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'rawline', sans-serif; 
}
@media (min-width: 860px) {
  body, html {
    font-size: 10px;
    padding: 0;
    height: 100%;
  }
}
@media (min-width: 1200px) {
  body, html {
    font-size: 12px;
    padding: 0;
    height: 100%;
  }
}

a {
  color: inherit;
  text-decoration: indianred;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 12px;
}

spand {
  display: grid;
}

iframe {
  font-size: 11px;
}
@media (min-width: 860px) {
  iframe {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  iframe {
    font-size: 15px;
  }
}

.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 3rem 2rem;
  z-index: 999;
}
.header-wrapper .header {
  position: relative;
  display: block;
  width: 100%;
  height: 6rem;
}
.header-wrapper .menu-wrapper {
  position: relative;
  float: left;
  display: block;
  cursor: pointer;
  width: 2.5rem;
  height: 3rem;
  right: 0;
  margin: 0;
  text-align: left;
}
.header-wrapper .menu-wrapper:after {
  content: "";
  display: table;
  clear: both;
}
.header-wrapper .menu-hamburger {
  position: relative;
  width: 1.4rem;
  display: inline-block;
  vertical-align: middle;
  background: white;
  height: 1px;
  cursor: pointer;
  right: 0;
  top: 1rem;
}
.header-wrapper .menu-hamburger::before {
  content: "";
  width: 2.5rem;
  height: 1px;
  background: white;
  position: absolute;
  top: -0.8rem;
  left: 0;
}
.header-wrapper .menu-hamburger::after {
  content: "";
  width: 2rem;
  height: 1px;
  background: white;
  position: absolute;
  top: 0.8rem;
  left: 0;
}
.header-wrapper .nav-wrapper {
  position: relative;
  float: right;
}
.header-wrapper nav {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 700;
  color: white;
}
.header-wrapper nav ul {
  padding: 0;
  display: block;
  list-style: none;
}
.header-wrapper nav ul:after {
  content: "";
  display: table;
  clear: both;
}
.header-wrapper nav li {
  float: left;
  margin: 1px 4rem;
}

.lines-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  pointer-events: none;
}
.lines-wrapper span.vertical {
  position: absolute;
  height: 1px;
  width: 100%;
  background: white;
  top: 12%;
  left: 0;
  z-index: 1;
  opacity: 0.05;
}
.lines-wrapper .croses span {
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 11%;
  left: calc(20% - 2px);
}
.lines-wrapper .croses span:nth-child(1) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(2) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(3) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(4) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(5) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(6) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(7) {
  left: calc(80% - 2px);
}
.lines-wrapper .croses span:nth-child(8) {
  left: calc(80% - 2px);
}
.lines-wrapper span.horizontal {
  position: absolute;
  width: 1px;
  height: 100%;
  background: white;
  z-index: 1;
  left: 20%;
  opacity: 0.05;
}
.lines-wrapper span.horizontal:nth-child(1) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(2) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(3) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(4) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(5) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(6) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(7) {
  left: 80%;
}
.lines-wrapper span.horizontal:nth-child(8) {
  left: 80%;
}

.slider-content {
  position: relative;
  max-width: 100%;
  min-width: 480px;
  background: #fff;
  margin: 0 auto;
}
.slider-content .slider-container {
  position: relative;
  height: 60rem;
}
.slider-content .slide-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-content .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  background-size: auto 125%;
  background-position: 0px -45px;
  background-repeat: no-repeat;
  opacity: 0;
}
.slider-content .slide:after {
  content: "";
  display: table;
  clear: both;
}
.slider-content .slide.active {
  opacity: 1;
  z-index: 50;
}
.slider-content .slide.next {
  opacity: 1;
}

.slider-content .slide.red {
  background-color: #960200;
}
.slider-content .slide.blue {
  background-color: #6989E0;
}
.slider-content .slide.green {
  background-color: #6cd779;
}
.slider-content .slide.curry {
  background-color: #d19c1d;
}
.slider-content .slide.terra {
  background-color: #e87461;
}
.slider-content .slide.tuscan {
  background-color: #714955;
}
.slider-content .slide.grey {
  background-color: #bcbcbc;
}
.slider-content .canvas {
  position: absolute;
  left: 0;
  top: 0;
}
.slider-content .fake-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-blend-mode: multiply;
  background-size: 100%;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.slider-content .fake-bg.white {
  background-color: rgb(7, 29, 65, 0.65);
  background-image: url("pin-inpi-50.png");
}
.slider-content .fake-bg.red {
  background-image: url();
  background-color: #960200;
}
.slider-content .fake-bg.blue {
  background-image: url();
  background-color: #6989E0;
}
.slider-content .fake-bg.green {
  background-image: url();
  background-color: #6cd779;
}
.slider-content .fake-bg.curry {
  background-image: url();
  background-color: #d19c1d;
}
.slider-content .fake-bg.terra {
  background-image: url();
  background-color: #e87461;
}
.slider-content .fake-bg.tuscan {
  background-image: url();
  background-color: #714955;
}
.slider-content .fake-bg.grey {
  background-image: url();
  background-color: #bcbcbc;
}
.slider-content .image-mask {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
}
.slider-content .image-mask img {
  position: absolute;
  display: block;
  width: auto;
  height: 96.5%;
  top: -60px;
}
.slider-content .mask-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: -5rem;
}
.slider-content .mask-animation img.clip {
  width: 100%;
  -webkit-clip-path: url(#svgPathBig);
          clip-path: url(#svgPathBig);
}
.slider-content .image-caption {
  position: absolute;
  color: white;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 25rem;
  left: 12rem;
  font-size: 1.3rem;
  z-index: 10;
  clip: rect(0rem, 40rem, 12rem, 0px);
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.slider-content .image-caption.mask-up {
  clip: rect(0rem, 0rem, 12rem, 0px);
}
.slider-content .image-caption.mask-down {
  clip: rect(0rem, 21rem, 2rem, 200px);
}
.slider-content .image-caption span {
  display: inline-block;
  vertical-align: top;
}
.slider-content .image-caption .line {
  position: relative;
  background: white;
  height: 1px;
  width: 5rem;
  top: 1rem;
}
.slider-content .title-background {
  position: absolute;
  font-size: 25rem;
  font-family: 'rawline', sans-serif;
  font-weight: 600;
  top: 8rem;
  left: 4rem;
  color: black;
  opacity: 0.03;
  text-align: right;
}
.slider-content .title-background span.mask-wrap {
  display: block;
  height: 25rem;
  position: relative;
}
.slider-content .title-background span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 1;
  clip: rect(0rem, 240rem, 25rem, 0px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.slider-content .title-background span.mask-wrap:last-child span.mask {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.slider-content .title-background span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 120rem, 0rem, 0px);
}
.slider-content .title-background span.mask-wrap.mask-down span.mask {
  clip: rect(25rem, 44rem, 25rem, 0px);
}
.slider-content .title-wrapper {
  position: relative;
  color: white;
  margin-left: 15%;
  margin-right: auto;
  width: 60%;
  text-align: left;
  margin-top: 8rem;
  z-index: 5;
}
.slider-content .title-wrapper h1 {
  font-size: 12rem;
  margin: 0;
  line-height: 1;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: left;
  font-family: 'rawline', sans-serif; 
  margin-left: 5rem;
}
.slider-content .title-wrapper h1 span.mask-wrap {
  display: block;
  height: 12rem;
  position: relative;
}
.slider-content .title-wrapper h1 span.mask-wrap span.mask {
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0rem, 900rem, 98rem, 0px);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.slider-content .title-wrapper h1 span.mask-wrap:last-child span.mask {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.slider-content .title-wrapper h1 span.mask-wrap.mask-up span.mask {
  clip: rect(0rem, 44rem, 0rem, 0px);
}
.slider-content .title-wrapper h1 span.mask-wrap.mask-down span.mask {
  clip: rect(12rem, 44rem, 12rem, 0px);
}
.slider-content .title-wrapper span.gallery {
  position: relative;
  text-align: left;
  cursor: pointer;
  margin-left: 5rem;
  top: 135px;
  font-size: 18px;
}
.slider-content .title-wrapper span.gallery::before {
  content: "";
  position: absolute;
  left: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  top: 0;
  opacity: 0.9;
}
.slider-content .title-wrapper span.gallery::after {
  content: "";
  position: absolute;
  right: -2rem;
  display: block;
  width: 1px;
  height: 2.5rem;
  top: 0;
  opacity: 0.9;
}

.control-nav {
  position: absolute;
  right: 3rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
}
.control-nav ul {
  position: relative;
  list-style: none;
  padding: 0;
}
.control-nav li {
  position: relative;
  margin: 0.2rem 0;
  opacity: 0.5;
  border-radius: 3rem;
  color: white;
  font-size: 1rem;
}
.control-nav li.active {
  opacity: 1;
}
.control-nav li.active .line {
  -webkit-transform: translateX(-1.2rem);
          transform: translateX(-1.2rem);
  width: 1.8rem;
}
.control-nav li.active .number {
  opacity: 1;
}
.control-nav .line {
  width: 1.5rem;
  height: 1px;
  display: block;
  position: absolute;
  top: 50%;
  background: white;
  left: -1rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.control-nav .number {
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.social-icons {
  position: absolute;
  bottom: 5rem;
  left: 3rem;
  z-index: 999;
}
.social-icons ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icons ul li {
  position: relative;
  display: block;
  padding: 3rem 0;
}
.social-icons ul a {
  display: block;
  width: 2rem;
  height: 2rem;
}
.social-icons ul a svg {
  fill: white;
  display: block;
  width: 200%;
  height: 200%;
}

.footer-wrapper {
  position: absolute;
  color: white;
  top: 17.5%;
  left: 75%;
  height: 7rem;
  z-index: 999;
}
.footer-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
  position: relative;
}
.footer-wrapper ul:after {
  content: "";
  display: table;
  clear: both;
}
.footer-wrapper li {
  position: relative;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  display: table;
}
.footer-wrapper li:last-child {
  border: none;
}
.footer-wrapper li.active .hover-box {
  opacity: 0.55;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer-wrapper li .hover-box {
  position: absolute;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 1;
}
.footer-wrapper li .box-content {
  position: relative;
  z-index: 5;
  font-weight: 600;
}
