.contenteza {
  text-align: center;
  padding: 80px 0 0 0;
}
.contenteza > a {
  margin: 0 40px 0 0;
}

/**
* Tooltips classes
*
* @author splitfire - http://splitfire.fr
* @version 1.0
*
*/
/* Var
-----------------------------*/
.tooltip {
  position: relative;
  outline: none;
  /* Tooltip
  --------------------*/
  /* Tooltip trigger
  --------------------*/
  /* Tooltip placement top
  ----------------------------*/
  /* Tooltip placement right
  ----------------------------*/
  /* Tooltip placement Bottom
  ------------------------------*/
  /* Tooltip placement left
  ----------------------------*/
  /*Tooltip default placement and trigger
  -----------------------------------------*/
}
.tooltip:after, .tooltip:before {
  position: absolute;
  display: none\9;
  opacity: 0;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  -webkit-transition: opacity 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s linear 0s;
  visibility: hidden;
  outline: none;
  text-decoration: none;
}
.tooltip:after {
  padding: 6px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  white-space: nowrap;
  content: attr(data-tooltip);
}
.tooltip[data-trigger="hover"]:hover:before, .tooltip[data-trigger="hover"]:hover:after, .tooltip[data-trigger="focus"]:focus:before, .tooltip[data-trigger="focus"]:focus:after {
  display: block\9;
  opacity: 1;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0s;
  -webkit-transition: opacity 0.2s linear;
  -webkit-transition-delay: 0s;
  transition: opacity 0.2s linear 0s;
  visibility: visible;
  z-index: 2;
}
.tooltip[data-placement="top"]:after, .tooltip[data-placement="top"]:before {
  bottom: 100%;
}
.tooltip[data-placement="top"]:after {
  left: 50%;
  margin: 0 0 15px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.tooltip[data-placement="top"]:before {
  left: 50%;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 8px solid black;
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  content: "";
  margin: 0 0 7px 0;
}
.tooltip[data-placement="right"]:after, .tooltip[data-placement="right"]:before {
  left: 100%;
}
.tooltip[data-placement="right"]:after {
  top: 50%;
  margin: 0 0 0 15px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.tooltip[data-placement="right"]:before {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0 0 0 7px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 8px solid black;
  border-right: 8px solid rgba(0, 0, 0, 0.8);
  content: "";
}
.tooltip[data-placement="bottom"]:after, .tooltip[data-placement="bottom"]:before {
  top: 100%;
}
.tooltip[data-placement="bottom"]:after {
  left: 50%;
  margin: 15px 0 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.tooltip[data-placement="bottom"]:before {
  left: 50%;
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  margin: 8px 0 0 0;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-bottom: 8px solid black;
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
  content: "";
}
.tooltip[data-placement="left"]:after, .tooltip[data-placement="left"]:before {
  right: 100%;
}
.tooltip[data-placement="left"]:after {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0 15px 0 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tooltip[data-placement="left"]:before {
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0 7px 0 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-left: 8px solid black;
  border-left: 8px solid rgba(0, 0, 0, 0.8);
  content: "";
}
