<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Título da Tela de Formulário</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css">
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap">
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css">
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body class="template-system">
    <!-- Cabeçalho da página-->
    <header class="page-header" id="header">
      <!-- Atalhos para conteúdo-->
      <ul class="skip-menu" id="skip-menu">
        <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
        <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
        <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
      </ul>
      <!-- header-->
      <div class="br-header-system">
        <div class="container-fluid">
          <!-- Barra principal-->
          <div class="wrapper">
            <!-- Logo-->
            <div class="logo"><a class="name" id="logo" href="">Nome do órgão</a><span class="description">Assinatura do órgão</span></div>
            <!-- Links rápidos-->
            <div class="quicklinks d-none d-md-flex">
              <ul>
                <li><a href="">Acesso à informação</a></li>
                <li><a href="">Participe</a></li>
                <li><a href="">Acessibilidade</a></li>
              </ul>
              <!-- Altocontraste-->
              <button class="br-button is-tertiary ml-16" type="button" accesskey="6"><i class="fas fa-adjust"></i><span class="d-none d-md-inline-block ml-md-1 text-uppercase">Alto contraste</span>
              </button>
            </div>
            <!-- Quebra de linha-->
            <div class="break"></div>
            <!-- Busca geral-->
            <div class="search mx-n1 ml-md-auto mr-md-0">
              <div class="field">
                <label class="sr-only" for="search">Autocomplete</label>
                <input id="search" type="search" placeholder="O que você procura?">
                <button type="button"><i class="fas fa-search"></i><span class="sr-only">buscar</span></button>
              </div>
              <button class="close" type="button"><i class="fas fa-times"></i><span class="sr-only">fechar a busca</span></button>
            </div>
            <!-- Barra do usuário-->
            <div class="user-bar d-none d-md-flex ml-md-10">
              <!-- Configurações do usuário-->
              <div class="configs dropdown">
                <button class="trigger" type="button">
                  <!-- Avatar do usuário--><span class="avatar"><i class="fas fa-user-circle"></i></span>
                  <!-- Notificações--><span class="badge">5</span>
                  <!-- Seta para abrir menu--><span class="arrow"><i class="fas fa-chevron-down"></i></span>
                </button>
                <div class="menu">
                  <!-- Informações do usuário-->
                  <div class="title user">
                    <div class="name">Márcia Vinícius Tavares de Almeida</div>
                    <div class="email">marcia-vinicius.almeida@serpro.gov.br</div>
                  </div>
                  <!-- Lista de configurações--><span class="title"><i class="fas fa-cog"></i>                  Configuração/Perfil</span><a class="item" href="">Configuração 01</a><a class="item" href="">Configuração 02</a><a class="item" href="">Configuração 03</a>
                </div>
              </div>
              <!-- Sistemas favoritos do usuário-->
              <div class="bookmarks dropdown">
                <button class="trigger" type="button"><i class="fas fa-th-large"></i></button>
                <div class="menu">
                  <div class="title">Sistemas</div>
                  <div class="list">
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 01</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 02</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 03</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 04</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 05</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 06</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 07</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 08</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 09</div></a></div>
                    <div class="item"><a class="bookmark" href="">
                        <div class="brand"></div>
                        <div class="name">Sistema 10</div></a></div>
                  </div>
                  <div class="more"><a href="">Mais</a></div>
                </div>
              </div>
              <!-- Logout-->
              <button class="br-button is-small is-primary ml-3" type="button">Sair
              </button>
            </div>
            <!-- Menu sanduiche-->
            <button class="menu-hamburger ml-n1" type="button"><i class="fa fa-bars fa-fw"></i></button>
          </div>
        </div>
      </div>
    </header>
    <!-- Wrapper principal-->
    <div class="page-wrapper">
      <!-- Menu de navegação-->
      <nav class="br-navigation is-system" id="system-nav">
        <header class="header">
          <div class="container">
            <div class="user-bar">
              <div class="configs menu is-active">
                <button class="trigger" type="button"><span class="avatar"><i class="fas fa-user-circle"></i></span><span class="badge">5</span><span class="arrow"><i class="fas fa-chevron-down"></i></span></button>
              </div>
              <button class="contrast" type="button" accesskey="6"><i class="fas fa-adjust fa-lg"></i></button>
              <div class="bookmarks menu">
                <button class="trigger" type="button"><i class="fas fa-th-large"></i></button>
              </div>
            </div>
            <button class="go-back" type="button"><span class="arrow"><i class="fas fa-chevron-left"></i></span><span class="node">Voltar</span></button>
          </div>
        </header>
        <div class="navigation">
          <div class="container">
            <ul class="tree info-nav">
              <li class="title"><strong>Márcia Vinícius Tavares de Almeida</strong><span>marcia-vinicius.almeida@serpro.gov.br</span></li>
              <li class="label"><i class="fas fa-cog"></i> Configuração/Perfil</li>
              <li class="item is-active"><a href="">Configuração 01</a></li>
              <li class="item is-active"><a href="">Configuração 02</a></li>
              <li class="item is-active"><a href="">Configuração 03</a></li>
            </ul>
            <ul class="tree favorite-nav">
              <li class="label"><i class="fas fa-th-large"></i> Sistemas</li>
              <li class="item"><a href="">Sistema 01</a></li>
              <li class="item"><a href="">Sistema 02</a></li>
              <li class="item"><a href="">Sistema 03</a></li>
              <li class="item"><a href="">Sistema 04</a></li>
              <li class="item"><a href="">Sistema 05</a></li>
              <li class="item"><a href="">Sistema 06</a></li>
              <li class="item"><a href="">Sistema 07</a></li>
              <li class="item"><a href="">Sistema 08</a></li>
              <li class="item"><a href="">Sistema 09</a></li>
              <li class="item"><a href="">Sistema 10</a></li>
            </ul>
            <ul class="tree menu-nav is-active">
              <li class="item has-children is-active">
                <button class="trigger label" type="button"><span class="name">Início</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                <ul class="tree menu-nav is-active">
                  <li class="item is-active"><a href="">Alterar Dados Cadastrais</a></li>
                  <li class="item has-children is-active">
                    <button class="trigger" type="button"><span class="name">Alteração de Senha</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                    <ul class="tree menu-nav">
                      <li class="item"><a href="">Terceiro nível</a></li>
                      <li class="item"><a href="">Terceiro nível</a></li>
                      <li class="item has-children is-active">
                        <button class="trigger" type="button"><span class="name">Outros</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                        <ul class="tree menu-nav">
                          <li class="item"><a href="">Outros Terceiro nível</a></li>
                          <li class="item"><a href="">Outros Terceiro nível</a></li>
                          <li class="item has-children is-active">
                            <button class="trigger" type="button"><span class="name">Outros 2</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                            <ul class="tree menu-nav">
                              <li class="item"><a href="">Outros 2 Terceiro nível</a></li>
                              <li class="item"><a href="">Outros 2 Terceiro nível</a></li>
                              <li class="item"><a href="">Outros 2 Terceiro nível</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="item is-active"><a href="">Confiabilidade Cadastral</a></li>
                  <li class="item is-active"><a href="">Autorizar Uso de Dados Pessoais</a></li>
                  <li class="item has-children is-active">
                    <button class="trigger" type="button"><span class="name">Recuperar DNI</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                    <ul class="tree menu-nav">
                      <li class="item"><a href="">Recuperar DNI - Terceiro nível</a></li>
                      <li class="item"><a href="">Recuperar DNI - Terceiro nível</a></li>
                      <li class="item"><a href="">Recuperar DNI - Terceiro nível</a></li>
                    </ul>
                  </li>
                  <li class="item is-active"><a href="">CNPJ</a></li>
                </ul>
              </li>
              <li class="item has-children is-active">
                <button class="trigger label" type="button"><span class="name">Serviços do Governo</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                <ul class="tree menu-nav is-active">
                  <li class="item is-active"><a href="">Portal de Serviços</a></li>
                  <li class="item has-children is-active">
                    <button class="trigger" type="button"><span class="name">Outros</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                    <ul class="tree menu-nav">
                      <li class="item"><a href="">Outros Terceiro nível</a></li>
                      <li class="item"><a href="">Outros Terceiro nível</a></li>
                      <li class="item has-children is-active">
                        <button class="trigger" type="button"><span class="name">Outros 2</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                        <ul class="tree menu-nav">
                          <li class="item"><a href="">Outros 2 Terceiro nível</a></li>
                          <li class="item"><a href="">Outros 2 Terceiro nível</a></li>
                          <li class="item has-children is-active">
                            <button class="trigger" type="button"><span class="name">Outros 3</span><span class="arrow"><i class="fas fa-chevron-right"></i></span></button>
                            <ul class="tree menu-nav">
                              <li class="item"><a href="">Outros 3 Terceiro nível</a></li>
                              <li class="item"><a href="">Outros 3 Terceiro nível</a></li>
                              <li class="item"><a href="">Outros 3 Terceiro nível</a></li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <footer class="footer">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col-auto">
                <div class="timeout"><i class="fas fa-clock"></i><span class="session">Sessão:</span><span class="timer">00 min. e 00 seg</span></div>
              </div>
              <div class="col-auto">
                <button class="logout" type="button">Sair</button>
              </div>
            </div>
          </div>
        </footer>
      </nav>
      <!-- Links úteis-->
      <!-- Redes sociais-->
      <div class="flex-fill">
        <!-- Sombra do topo-->
        <div>
          <div class="container-fluid">
            <!-- Barra de sistema-->
            <div class="row system-bar">
              <!-- Breadcrumbs-->
              <div class="col">
                <ul class="br-breadcrumb">
                  <li class="home"><a href=""><span class="sr-only">Página inicial</span><i class="fas fa-home"></i></a></li>
                  <li><a href="">Tela anterior</a></li>
                  <li class="is-active"><a href="">tela atual</a></li>
                </ul>
              </div>
              <!-- Timeout-->
              <div class="col-auto">
                <div class="timeout"><i class="fas fa-clock"></i><span class="session">Sessão:</span><span class="timer">00 min. e 00 seg</span></div>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-0">
        <!-- Conteúdo principal-->
        <main class="page-content" id="content">
          <div class="container-fluid">
            <div class="br-message is-danger">
              <div class="icon"><i class="fas fa-times-circle"></i><span class="sr-only">Erro!</span>
              </div>
              <div class="content"><strong>Erro.</strong><span> Mensagem. </span><a href="">Exemplo de link</a>
              </div>
              <div class="close">
                <button type="button"><i class="fas fa-times"></i><span class="sr-only">Fechar</span></button>
              </div>
            </div>
            <h1 class="main-title">Título da Tela de Formulário</h1>
            <p>Preencha o formulário com os dados solicitados e ative a sua conta no sistema enviaremos um código para você. Como prefere recebê-lo?</p>
            <div class="br-form">
              <fieldset>
                <legend>Identificação do Trabalhador</legend>
                <div class="row">
                  <div class="col-sm-8">
                    <div class="br-input">
                      <label for="nome">Nome</label>
                      <input id="nome" type="text" placeholder="Insira um texto">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="br-input">
                      <label for="cpf">CPF</label>
                      <input id="cpf" type="text" placeholder="Insira um texto">
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <div class="br-input">
                      <label for="nos">NIS</label>
                      <input id="nos" type="text" placeholder="Insira um texto">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="br-select">
                      <label for="sexo">Sexo</label>
                      <select id="sexo">
                        <option value="0">Selecione</option>
                        <option value="1">opção 1</option>
                        <option value="1">opção 2</option>
                        <option value="2">opção 3</option>
                        <option value="4">opção 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="br-select">
                      <label for="raca">Raça</label>
                      <select id="raca">
                        <option value="0">Selecione</option>
                        <option value="1">opção 1</option>
                        <option value="1">opção 2</option>
                        <option value="2">opção 3</option>
                        <option value="4">opção 4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <div class="br-select">
                      <label for="estado-civil">Estado Civil</label>
                      <select id="estado-civil">
                        <option value="0">Selecione</option>
                        <option value="1">opção 1</option>
                        <option value="1">opção 2</option>
                        <option value="2">opção 3</option>
                        <option value="4">opção 4</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="field">
                      <p class="label">Primeiro Emprego?</p>
                      <div class="br-radio">
                        <input id="emprego-sim" type="radio">
                        <label for="emprego-sim">Sim</label>
                      </div>
                      <div class="br-radio">
                        <input id="emprego-nao" type="radio">
                        <label for="emprego-nao">Não</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="br-select">
                      <label for="instrucao">Grau de Instrução</label>
                      <select id="instrucao">
                        <option value="0">Selecione</option>
                        <option value="1">opção 1</option>
                        <option value="1">opção 2</option>
                        <option value="2">opção 3</option>
                        <option value="4">opção 4</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-8">
                    <div class="br-input">
                      <label for="nome-social">Nome Social</label>
                      <input id="nome-social" type="text" placeholder="Insira um texto">
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="d-flex flex-wrap flex-row-reverse justify-content-center justify-content-sm-start mt-6 mt-sm-10">
                <button class="br-button is-primary" type="button">Ação principal
                </button>
                <button class="br-button is-secondary mt-3 mt-sm-0 mr-sm-3" type="button">Ação secundária
                </button>
                <button class="br-button is-cancel mt-3 mt-sm-0 mr-sm-3" type="button">Cancelar
                </button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- Rodapé de governo-->
    <footer class="page-footer" id="footer">
      <div class="chancela-serpro"><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/images/produto-serpro.png" alt="Produto Serpro"></div>
    </footer>
    <script src="../js/templates/system.js"></script>
  </body>
</html>