<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Precisa de ajuda?</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css">
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap">
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css">
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body class="template-authentication">
    <header class="page-header" id="header">
      <!-- Atalhos para conteúdo-->
      <ul class="skip-menu" id="skip-menu">
        <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
        <li><a accesskey="2" href="#navigation">Ir para o menu    </a></li>
        <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
      </ul>
      <!-- Barra de governo-->
      <div id="barra-brasil"></div>
    </header>
    <div class="page-wrapper">
      <div class="left-side">
        <div class="page-content">
          <!-- Logo--><a class="logo" id="left-logo" href=""><img class="marca" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg" alt="Governo do Brasil"></a>
        </div>
      </div>
      <div class="right-side">
        <div class="page-content">
          <!-- Cabeçalho da página-->
          <header>
            <!-- Acessibilidade-->
            <div class="accessibility"><a id="contrast" href="" accesskey="6"><span class="icon"><i class="fas fa-adjust"></i></span><span><span class="d-none d-sm-inline"> Alto Contraste</span></span></a></div>
          </header>
          <!-- Conteúdo principal-->
          <main class="mb-12" id="content">
            <h1 class="main-title">Precisa de ajuda?</h1>
            <p>Utilize o campo de busca para encontrar mais rápido o que procuras.</p>
            <!-- Pesquisa de ajuda-->
            <div class="row">
              <div class="col-sm-6">
                <div class="br-input has-icon">
                  <label class="sr-only" for="search-autocomplete">Autocomplete</label>
                  <input class="has-icon" id="search-autocomplete" type="text" placeholder="Digite sua senha de 8 a 11 dígitos"><span class="icon"><i class="fas fa-search"></i></span>
                </div>
              </div>
            </div>
            <p class="h2 mt-10 mb-3">Dúvidas frequentes</p>
            <p><a href="#">Você está sem telefone e pode acessar o seu e-mail?</a></p>
            <p><a href="#">Você sabe verificar as mensagens que chegam por SMS? Aprenda a verificar</a></p>
            <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p>
            <p><a href="#">Phasellus purus nulla, aliquam eu nulla a, facilisis rhoncus enim.</a></p>
            <p><a href="#">Fusce et efficitur sapien. Nunc blandit odio orci, mattis vehicula turpis condimentum vitae.</a></p>
            <p><a href="#">In fermentum leo velit, ut efficitur ex venenatis eget. </a></p>
            <p><a href="#">Suspendisse in tellus dignissim, sollicitudin tortor sed, ornare mi.</a></p>
            <!-- Botões de ação-->
            <div class="d-flex flex-wrap flex-row-reverse justify-content-center justify-content-sm-start mt-10">
              <button class="br-button is-primary" type="button">Ver mais
              </button>
              <button class="br-button is-secondary mt-3 mt-sm-0 mr-sm-3" type="button">Voltar
              </button>
            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- Rodapé de governo-->
    <footer class="page-footer" id="footer">
      <div class="chancela-serpro"><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/produto-serpro.png" alt="Produto Serpro"></div>
    </footer>
    <script src="//barra.brasil.gov.br/barra_2.0.js" defer></script>
  </body>
</html>