<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Altere sua Senha</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css">
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap">
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css">
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body class="template-authentication">
    <header class="page-header" id="header">
      <!-- Atalhos para conteúdo-->
      <ul class="skip-menu" id="skip-menu">
        <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
        <li><a accesskey="2" href="#navigation">Ir para o menu    </a></li>
        <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
      </ul>
      <!-- Barra de governo-->
      <div id="barra-brasil"></div>
    </header>
    <div class="page-wrapper">
      <div class="left-side">
        <div class="page-content">
          <!-- Logo--><a class="logo" id="left-logo" href=""><img class="marca" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg" alt="Governo do Brasil"></a>
        </div>
      </div>
      <div class="right-side">
        <div class="page-content">
          <!-- Cabeçalho da página-->
          <header>
            <!-- Acessibilidade-->
            <div class="accessibility"><a id="contrast" href="" accesskey="6"><span class="icon"><i class="fas fa-adjust"></i></span><span><span class="d-none d-sm-inline"> Alto Contraste</span></span></a></div>
          </header>
          <!-- Conteúdo principal-->
          <main class="mb-12" id="content">
            <h1 class="main-title">Altere sua Senha</h1>
            <div class="br-message is-info">
              <div class="icon"><i class="fas fa-info-circle"></i><span class="sr-only">Informação!</span>
              </div>
              <div class="content">
                <p class="mb-0"><strong>Regras:</strong></p>
                <p>De 8 a 12 caracteres, letras maiúsculas e minúsculas, números e símbolos</p>
              </div>
              <div class="close">
                <button type="button"><i class="fas fa-times"></i><span class="sr-only">Fechar</span></button>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <!-- Informar CPF-->
                <div class="br-input">
                  <label for="cpf">CPF</label>
                  <input id="cpf" type="text" placeholder="Digite seu CPF">
                </div>
                <!-- Informar a nova senha-->
                <div class="br-input has-icon mt-3">
                  <label for="password">Nova Senha</label>
                  <input class="has-icon mt-3" id="password" type="password" placeholder="Digite a nova Senha">
                  <button class="icon" type="button" onclick="toggleInputAction(this)"><span class="sr-only">Mostrar senha</span><i class="fas fa-eye"></i></button>
                </div>
                <!-- Repetir a nova senha-->
                <div class="br-input has-icon mt-3">
                  <label for="new-password">Repita a Senha</label>
                  <input class="has-icon mt-3" id="new-password" type="password" placeholder="Repita a nova Senha">
                  <button class="icon" type="button" onclick="toggleInputAction(this)"><span class="sr-only">Mostrar senha</span><i class="fas fa-eye"></i></button>
                </div>
              </div>
            </div>
            <!-- Botões de ação-->
            <div class="d-flex flex-wrap flex-row-reverse justify-content-center justify-content-sm-start mt-10">
              <button class="br-button is-primary" type="button">Alterar
              </button>
              <button class="br-button is-secondary mt-3 mt-sm-0 mr-sm-3" type="button">Voltar
              </button>
            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- Rodapé de governo-->
    <footer class="page-footer" id="footer">
      <div class="chancela-serpro"><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/produto-serpro.png" alt="Produto Serpro"></div>
    </footer>
    <script src="//barra.brasil.gov.br/barra_2.0.js" defer></script>
  </body>
</html>