<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Esqueceu sua senha?</title>
    <!-- Fonte Rawline-->
    <link rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css">
    <!-- Fonte Raleway-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&amp;display=swap">
    <!-- Design System de Governo-->
    <link rel="stylesheet" href="../css/dsgov.css">
    <!-- Fontawesome-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"></script>
  </head>
  <body class="template-authentication">
    <header class="page-header" id="header">
      <!-- Atalhos para conteúdo-->
      <ul class="skip-menu" id="skip-menu">
        <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
        <li><a accesskey="2" href="#navigation">Ir para o menu    </a></li>
        <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
      </ul>
      <!-- Barra de governo-->
      <div id="barra-brasil"></div>
    </header>
    <div class="page-wrapper">
      <div class="left-side">
        <div class="page-content">
          <!-- Logo--><a class="logo" id="left-logo" href=""><img class="marca" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg" alt="Governo do Brasil"></a>
        </div>
      </div>
      <div class="right-side">
        <div class="page-content">
          <!-- Cabeçalho da página-->
          <header>
            <!-- Acessibilidade-->
            <div class="accessibility"><a id="contrast" href="" accesskey="6"><span class="icon"><i class="fas fa-adjust"></i></span><span><span class="d-none d-sm-inline"> Alto Contraste</span></span></a></div>
          </header>
          <!-- Conteúdo principal-->
          <main class="mb-12" id="content">
            <h1 class="main-title">Esqueceu sua senha?</h1>
            <p>Para ativar sua conta enviaremos um <strong>código</strong> para você.</p>
            <p>Como prefere recebê-lo?</p>
            <div class="row">
              <div class="col-sm-10">
                <!-- Seleção com input-->
                <div class="br-checklist">
                  <div class="item">
                    <div class="icon"><i class="far fa-envelope"></i></div>
                    <div class="br-input">
                      <label for="email">E-mail</label>
                      <input id="email" type="text" placeholder="Ex: fulano@email.com">
                    </div>
                    <div class="br-radio">
                      <input id="radio-email" type="radio" name="radio">
                      <label for="radio-email"></label>
                    </div>
                  </div>
                  <div class="item">
                    <div class="icon"><i class="fas fa-mobile-alt"></i></div>
                    <div class="br-input">
                      <label for="celular">Celular</label>
                      <input id="celular" type="text" placeholder="Ex: (xx) xxxxx-xxxx">
                    </div>
                    <div class="br-radio">
                      <input id="radio-celular" type="radio" name="radio">
                      <label for="radio-celular"></label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Receber código-->
            <p class="label mt-8">Receber Código por:</p>
            <div class="br-radio d-block mb-1">
              <input id="mensagem" type="radio">
              <label for="mensagem">Mensagem SMS</label>
            </div>
            <div class="br-radio d-block mb-1">
              <input id="ligacao" type="radio">
              <label for="ligacao">Ligação</label>
            </div>
            <!-- Botões de ação-->
            <div class="d-flex flex-wrap flex-row-reverse justify-content-center justify-content-sm-start mt-10 mt-sm-10">
              <button class="br-button is-primary" type="button" disabled>Avançar
              </button>
              <button class="br-button is-cancel mt-3 mt-sm-0 mr-sm-3" type="button">Cancelar
              </button>
            </div>
          </main>
        </div>
      </div>
    </div>
    <!-- Rodapé de governo-->
    <footer class="page-footer" id="footer">
      <div class="chancela-serpro"><img src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/produto-serpro.png" alt="Produto Serpro"></div>
    </footer>
    <script src="//barra.brasil.gov.br/barra_2.0.js" defer></script>
  </body>
</html>